<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<style>
    .draggable-div {
        position: absolute;
    }
</style>
<body>
<div id="homework-container">
    {{> "./dnd-content.hbs"}}
</div>
</body>
</html>
