<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <!-- API VK-->
    <script src="https://vk.com/js/api/openapi.js"></script>
    <!-- API VK End -->
</head>
<body>
<div id="homework-container">
    {{> "./src/templates/friends-content.hbs"}}
</div>
</body>
</html>
