<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<div class="wrapper">
    {{> "./src/templates/friends-content.hbs"}}
</div>
<!-- API VK-->
<script src="https://vk.com/js/api/openapi.js"></script>
<!-- API VK End -->
</body>
</html>
