{{#each itmes}}
    <li class="list__wrap" id="{{ id }}" draggable="true" ondragstart="return dragStart(event)">
        <img class="list__userpic" src="{{photo_100}}" alt="аватар">
        <div class="list__item">{{first_name}}  {{last_name}}</div>
        <img class="list__plus" src="../../src/img/plus.png" alt="кнопка закрыть">
    </li>
{{/each}}