

    <div class="logo js-logo">
        <a href="#" class="logo__link">
            <img class="logo__img" src="./src/images/logo.png" alt="логотип">
        </a>
        <img class="logo__arrow" src="./src/images/arrow-top.svg" alt="стрелка вверх">
        <div class="logo__text">Жми на логотип!</div>
    </div>

    <div class="modal js-modal">
        <div class="modal-content">
            <div class="main-block">

                <div class="header">
                    <div class="header__top">
                        <span class="title">Выберите друзей</span>
                        <span class="close js-close">
								<img class="close__btn" src="./src/images/btn-close.png" alt="кнопка закрыть">
							</span>
                    </div>

                    <div class="form">
                        <form class="form-search" action="">
                            <div class="form-search__row">
                                <input class="form-search__input_left" type="text" placeholder="Начните вводить имя друга">
                            </div>
                            <div class="form-search__row">
                                <input class="form-search__input_right" type="text" placeholder="Название">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="content">
                    <div class="content__item">
                        <div class="content__header">
                            <span class="content__text">Ваши друзья</span>
                        </div>
                        <ul class="list js-yourfriends">
                        </ul>
                    </div>

                    <div class="content__item">
                        <div class="content__header">
                            <span class="content__text">Друзья в списке</span>
                        </div>
                        <ul class="list js-friendslist">
                        </ul>
                    </div>
                </div>

                <div class="footer">
                    <button class="button">Сохранить</button>
                </div>

            </div>
        </div>
    </div>


