@font-face {
  font-family: 'firasans';
  src: url('../../fonts/FiraSansLight/firasanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'firasans';
  src: url('../../fonts/FiraSansMedium/firasansmedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}