@font-face {
  font-family: 'firasans';
  src: url('../../fonts/FiraSansLight/FiraSansLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'firasans';
  src: url('../../fonts/FiraSansMedium/FiraSansMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
